/* Reset and var */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #818181;
    --dark-azure: #54BEFF;
    --lighter-azure: #66c3fd;
    --skyblue: #B8E5FF;
}

/* Header: CSS rules */
header {
    background-color: var(--dark-azure);
    background-image: url("../img/pattern.png");
    background-size: 350px;
    margin-bottom: 20px;
}

#logo {
    width: 180px;
    padding: 40px 0 5px 10px;
}

/* Distance of article and footer's elements from webpage borders */
article, footer {
    margin: 5px;
}

/* Title */

#title {
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}

h4 {
    color: var(--grey);
    font-weight: 600;
}

#span-booleaner {
    color: var(--lighter-azure);
}

#article-date {
    color: var(--grey);
    font-weight: 600;
    font-size: 15px;
}

/* Images captions */
#images-box {
    margin-bottom: 20px;
}

#caption {
    font-size: 12px;
    font-weight: 600;
}

/* Paragraphs */
.yellow-span {
    background-color: #ffff00;
}

/* Table */
table {
    margin: 20px 0;
    border-spacing: 0;
    width: 100%;
}

#darker-row {
    background-color: var(--dark-azure);
    color: #ffffff;
}

.lighter-row {
    background-color: var(--skyblue);
}

.td-padding {
    padding: 10px 100px 10px 0;
    width: 300px;
}